
h1 { 
    font-family: helvetica;
    text-align:center;
  }
  
  .pin-code{ 
    padding: 0; 
    margin: 0 auto; 
    display: flex;
    justify-content:center;
    
  } 
   
  .pin-code input { 
    border: none; 
    text-align: center; 
    width: 48px;
    height:48px;
    font-size: 36px; 
    background-color: #F3F3F3;
    margin-right:5px;
  } 
  
  
  
  .pin-code input:focus { 
    border: 1px solid #573D8B;
    outline:none;
  } 
  
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  .nbtn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }