
  .pin-code{ 
    display: flex;
    justify-content:center;
    
  } 
   
  .pin-code input { 
    border: none; 
    text-align: center; 
    width: 48px;
    height:48px;
    font-size: 36px; 
    background-color: #ffc107;
    margin-right:5px;
  } 
  
  
  
  .pin-code input:focus { 
    border: 1px solid #573D8B;
    outline:none;
  }
  
  .btn-success input {
    background-color: #198754;
    border-color: #198754;
  }
  
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

